@using Microsoft.AspNetCore.Mvc.Rendering
@using Web.Models
@inject ICache Cache

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    @{
        var canonicalURL = Settings.Domain + Context.Request.Path;
        string description = ViewBag.Description ?? Settings.Description;
        string title = !string.IsNullOrEmpty(ViewBag.Subtitle) ? ViewBag.Subtitle + " – " + Settings.Title : Settings.Title;
    }
    <title>@title</title>
    <meta name="description" content="@description" />

    <meta property="og:site_name" content="@Settings.Title" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@canonicalURL" />
    <meta property="og:title" content="@title" />
    <meta property="og:description" content="@description" />
    <meta property="og:image" content="@Settings.ProfileImage" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="stevedesmond_ca" />
    <meta name="twitter:dnt" content="on" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/index.css?@Cache.CSSHash" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="shortcut icon" type="image/x-icon" href="@Settings.ImageBase/favicon.png" />
    <link rel="canonical" content="@canonicalURL" />
    <link rel="alternate" type="application/atom+xml" href="/feeds/atom" />
    <link rel="alternate" type="application/rss+xml" href="/feeds/rss" />

    <script type="application/ld+json">
        @Html.Raw(Settings.OrgJSON)
    </script>
</head>
<body>
    @Html.Partial("Header")

    <main id="main" class="container">
        @RenderBody()
    </main>

    @Html.Partial("Footer")
</body>
</html>
